@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

:root {
	--white: hsl(0, 0, 100%);
	--light-grey: hsl(217, 12%, 63%);
	--medium-grey: hsl(216, 12%, 54%);
	--dark-blue: hsl(213, 19%, 18%);
	--very-dark-blue: hsl(216, 12%, 8%);
}

* {
	box-sizing: border-box;
}

body {
	display: flex;
	height: 100vh;
	background-color: var(--very-dark-blue);
	font-family: 'Overpass', sans-serif;
	color: var(--white);
}

li,
ol,
ul {
	padding: 0;
	display: inline-block;
}

h2 {
	margin: 0;
	color: var(--white);
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	padding: 30px;
	align-self: center;
	max-width: 85%;
	height: 35%;
	margin: 0 auto;
	color: #fff;
	border-radius: 20px;
	background-image: linear-gradient(
		230deg,
		hsl(213deg 20% 18%) 0%,
		hsl(215deg 18% 15%) -2%,
		hsl(220deg 14% 12%) 28%
	);
}

.ty-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
	align-self: center;
	max-width: 85%;
	height: 35%;
	margin: 0 auto;
	color: #fff;
	border-radius: 20px;
	background-image: linear-gradient(
		230deg,
		hsl(213deg 20% 18%) 0%,
		hsl(215deg 18% 15%) -2%,
		hsl(220deg 14% 12%) 28%
	);
}

.img-container {
	border-radius: 50%;
	padding: 10px 12px;
	background-color: var(--dark-blue);
	display: inline-block;
	width: fit-content;
	margin-bottom: 12px;
	align-items: center;
}

.img {
	width: 14px;
	height: 12px;
	align-self: center;
}

.ty-img {
	width: 170px;
	height: 120px;
}

.txt p {
	color: var(--light-grey);
	font-size: 15px;
	line-height: 25px;
	/* margin: 15px 15px; */
	letter-spacing: 1px;
}

.ty-text {
	text-align: center;
}

.ty-text p {
	color: var(--light-grey);
	font-size: 15px;
	line-height: 25px;
	margin: 15px 15px;
}

.rating {
	color: var(--light-grey);
	display: flex;
	justify-content: space-between;
}

.ty-rating {
	background-color: var(--dark-blue);
	border-radius: 15px;
	padding: 10px 30px;
}

.ty-rating h5 {
	margin: 0;
	color: rgba(251, 116, 19, 0.7);
}
.num {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 14px 20px;
	background-color: var(--dark-blue);
	border-radius: 50%;
	margin: 0;
}

a {
	text-decoration: none;
	color: #fff;
	cursor: pointer;
}

.num:hover {
	background-color: hsl(25, 97%, 53%);
}

.selected {
	background-color: var(--light-grey);
}

.button {
	margin: 16px auto 5px auto;
	padding: 17px 5px;
	background-color: hsl(25, 97%, 53%);
	border: none;
	border-radius: 20px;
	letter-spacing: 7px;
	text-transform: uppercase;
	font-weight: 700;
	color: var(--white);
	width: 100%;
}

.button:hover {
	cursor: pointer;
	background-color: #fff;
	color: hsl(25, 97%, 53%);
}

@media (min-width: 900px) {
	.container,
	.ty-container {
		max-width: 30%;
	}
}
